<div class="container my-5">
    <!-- Cabecera -->
    <h1>Contact</h1>
    <p>Lorem ipsum dolor amet consectetur adipisicing elit. Hic itaque adipisci error eveniet deserunt pariatur ut porro nulla repellendus! Delectus quo illo tempore nesciunt ea ducimus quod voluptas, eos molestiae.</p>
    <div class="row d-flex justify-content-center">
      <div class="col-xl-8 col-12 pt-1 ps-1 ps-lg-5 bg-light border rounded">
        <!-- formulario -->
        <form class="container-fluid">
          <div class="row mb-3">
            <label for="yourEmail" class="col-lg-2 col-5 col-form-label fw-bold">Your E-mail</label>
            <div class="col-lg-10 col-12">
              <input type="email" placeholder="Your email" class="form-control" id="yourEmail"/>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-lg-2 col-5 col-form-label fw-bold">Your Message</label>
            <div class="col-lg-10 col-12">
              <textarea class="form-control" placeholder="Please enter your message here..." id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="my-2 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>