<!-- your html code here -->
<!-- <div class="row my-5">
    <div class="container col-10">
        <div class="mb-3 d-flex">
            <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
        </div>
        <div class="mb-3 d-flex">
            <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter Your message here..."></textarea>
        </div>
    </div>
</div> -->


<div class="card">
    <div class="card-body">
        <form action="#">
            <div class="mb-3 d-flex">
                <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
            </div>
            <div class="mb-3 d-flex">
                <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter Your message here..."></textarea>
            </div>
            
    </form>
    </div>
  </div>