<!-- your html code here -->
<div class="row">
    <div class="container d-flex justify-content-center ">
        <!-- izq -->
        <div class="col-8 border-top border-bottom">
            <h1>This First Heading <span class="text-muted">Will Catch Your Eye</span></h1>
             <p>Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam tristique nulla, cubilia duis feugiat etiam senectus lobortis dictumst accumsan dis leo dui, quisque urna pharetra phasellus scelerisque suscipit hac cursus habitant. Ridiculus lectus nascetur pulvinar nisi netus neque nostra.</p>
        </div>
        <div class="col-2 g-0 border-top border-bottom">
          <img class="rounded-circle img-fluid" src="/website/assets/img/1.jpg" alt="img-perfil">
        </div>
    </div>

</div>