<!-- your html code here -->
<div class="row">
    <div class="container d-flex">
        <!-- izq -->
        <div class="col-8">
            <h1>This First Heading <span class="text-muted">Will Catch Your Eye</span></h1>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, laboriosam architecto, autem vel voluptatibus ratione cum earum asperiores facilis suscipit, dignissimos molestiae hic? Non quidem maxime adipisci animi, cum exercitationem.</p>
        </div>
        <div class="col-3 g-0">
          <img class="rounded-circle" src="/website/assets/img/1.jpg" alt="img-perfil" width="250px" height="250px">
        </div>
    </div>

</div>