<h4><strong>Portfolio</strong></h4>

<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellu ac cursus commodo.</p>

<!-- Inicio cards -->

<div class="container-fluid">

   <div class="row col">

      <div class="grid-text-center">

          
          <div class="g-col-4">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <h5 class="card-title-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et a ad labore, neque rerum cum quaerat porro consequatur nemo laborum eius est nihil accusantium, fugiat soluta sequi? Aliquam, facere amet.</p>
          </div>

          
          <div class="g-col-4">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <h5 class="card-title-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sapiente officiis iusto reiciendis doloribus? Vero qui distinctio, laboriosam, in laborum alias similique dolore dolorem asperiores delectus soluta reiciendis odio blanditiis.</p>
          </div>

          
          <div class="g-col-4">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <h5 class="card-title-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, vero temporibus repellendus qui vel eum, impedit nostrum aut itaque commodi delectus est voluptatum rerum nisi iusto autem optio adipisci ducimus!</p>
          </div>

      </div>
  </div>

</div>