<!-- your html code here -->

<div class="container">
    <div class="row my-5">
        <div class="d-flex justify-content-center">
            <!-- izq -->
            <div class="col-3 border-top border-bottom py-5">
              <img class="rounded-circle img-fluid" src="/website/assets/img/2.jpg" alt="img-perfil">
            </div>
            <!-- derch -->
            <div class="col-9 border-top border-bottom py-5">
                <h1 class="ms-4">This Second Heading <span class="text-muted">Is Pretty Cool Too</span></h1>
                 <p class="ms-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sequi quidem aliquam error cumque. Necessitatibus quibusdam commodi impedit, at temporibus facere sed cumque atque incidunt, itaque dignissimos eaque reiciendis voluptate.</p>
            </div>
        </div>
    </div>
    </div>