<div class="container-fluid p-0">
  <div class="col-12">
      <div class="col p-0">
          <div class="jumbotron">
              <div class="card border-0">
                  <img src="../website/assets/img/bg.jpg" class="card-img rounded-0 p-0" alt="">
                  <div class="card-img-overlay">
                      <h1 class="card-title display-1 fw-bold text-center bg-white mt-md-5">One Page Wonder</h1>
                      <h3 class="card-text display-2 fw-bold text-center my-md-5 bg-white">Will knock your socks off</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>